
[class*="wp-block-"] {
	margin-bottom: 1em
}

.widget_block [class*="wp-block-"] {
	margin-bottom: 0
}

.wp-block-button {
	margin-bottom: 20px
}

.wp-block-button .wp-block-button__link,
.is-style-outline .wp-block-button__link {
	border-radius: 100px;
	line-height: 1.4em
}

.is-style-squared .wp-block-button__link {
	border-radius: 0
}

.wp-block-search .wp-block-search__input {
	flex: 1
}

.wp-block-search__label {
	margin-bottom: 14px !important
}

.wp-block-search__button {
	white-space: nowrap;
	padding: 10px 35px !important
}

.wp-block-search .wp-block-search__button {
	background-color: #333;
	color: #fff
}

.wp-block-quote.is-style-large {
	background: none
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
	max-width: 100%
}

.wp-block-separator.is-style-wide {
	margin-left: -20px;
	margin-right: -20px
}

.wp-block-separator.is-style-dots:before {
	margin: 0 auto
}

.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
	box-sizing: border-box;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	padding: 40px 10px 5px !important;
	margin: 0 !important
}

.wp-block-quote, .wp-block-code, .wp-block-code code {
	width: 100%;
	box-sizing: border-box
}

.wp-block-code code {
	background: none;
	line-height: 1.4;
	padding: 0;
}

.wp-block-cover, .wp-block-cover-image {
	width: auto
}

.wp-block-pullquote blockquote {
	background: none;
	padding: 0;
	margin: 0
}

.wp-block-group__inner-container > h2 {
	border-bottom: 1px solid rgba(167, 167, 167, .2);
	position: relative;
	padding: 0 0 20px;
	margin: 0 0 20px;
	font-size: 20px
}
